.user-table{
    width: 100%;
    border-collapse: collapse;
}

.user-table th{
    background-color: #0d5c55;
    color: white;
    padding: 12px;
    text-align: center;
}

.user-table td{
    padding: 10px;
    border-bottom: 1px solid #0d5c55;
    text-align: center;
}

.user-table td>img{
    width: 80px;
    height: 80px;
    border-radius: 50px;
}

.user-table tr:hover{
    background-color: rgba(215, 236, 236, 0.3);
    cursor: pointer;
}

.inactive-status{
    color: red;
    font-weight: bold;
}

.table-page{
    display: none;
}

.table-page:target{
    display: table-row-group;
}

#page1{
    display: table-row-group;
}

.pagination a{
    padding: 8px 15px;
    margin-left: 5px;
    background-color: white;
    border-radius: 6px;
    font-weight: 500;
    text-align: right;
    position: relative;
    top: 20px;
    left: 1400px;
    text-decoration: none;
    color: #0d5c55;
    transition: background-color ease 0.5s;
}

.pagination a:hover{
    color: white;
    background-color: #0d5c55;
}